# Python Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Upload Folder
uploads/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db

# macOS
.DS_Store